.Header{
    height: 8vmax;
    width:100%;
    position: fixed;
    display: flex;
    background-color: #131921;
    position: sticky;
    top:0;
    z-index: 150;
}

.Header__logo{
    width: 8vmax;
    object-fit: contain;
    margin-left: 1vmax;
    /* margin-top: 2vmax; */
    margin-top: 0.2vmin;
}

.Header__location{
    width: 10%;
    color: #CCCCC1;
    display: flex;
    flex-direction: row;
    /* margin-right: 5vmax; */
    margin-left: 1vmax;
    position: static;

}

.Header__location__icon{
    margin-top:1rem;

}

.Header__location__text{
    display: flex;
    flex-direction: column;
}
/* 
.Header__location__lineOne{
    padding-top: 2vmax;
    font-size: 1vmax;
} */


.Header__nav{
display: flex;
flex-direction: row;
justify-content: space-evenly;
color:#FFFFFF;
margin: 5px 20px;
align-items: center;
}

.Header__nav__option{
display: flex;
flex-direction: column;
padding: 0px 10px;
}

.Header__nav__option__lineOne{
padding-top: 10px;
font-size: 12px;
}


.Header__nav__option__lineTwo{
font-size: 14px;
font-weight: 800;
}

.Header__nav__option__flag{
    object-fit: contain;
    width:22px;
    }

.beside{
    display: flex;
    flex-direction: row;
}

@media only screen and (max-width: 1000px) {
.Header{
    height: 6vmax;
    width:100%;
    position: fixed;
    display: flex;
    background-color: #131921;
    position: sticky;
    top:0;
    z-index: 150;
}
.Header__location__lineOne{
    padding-top: 2vmax;
    font-size: 1vmax;
}
.Header__location__lineTwo{
    color: white;
    font-size: 1.5vmin;
    min-width: 9vmax;
}
.Header__location{
    /* width: 10%;
    color: #CCCCC1;
    display: flex;
    flex-direction: row;
    margin-right: 5vmax;
    margin-left: 1vmax;
    position: static; */
    display: none;

}
.Header__search{
    display: flex;
    flex: 1;
    /* border-radius: 24px; */
    align-items: left;
    padding: 10px  4px;
    /* border: 2PX solid RED; */
    /* height: 4vmax; */
    width: 2vmax;
    height: 2vmax;
    height: 4vmax !important;
}

.Header__search__left{
    color: #211913;
    background-color: #F3F3F3;

    text-align: center;
    
    /* padding: 0.3vmax; */
    /* padding-bottom: 5px; */
    border-top-left-radius: 0.2vmax;
    border-bottom-left-radius: 0.2vmax;
    display:flex;
    /* padding: 1.8vmax; */
    /* height: 3.5vmax; */
}



/* .Header__search__input :active{
    border: 2px solid red;
    
} */

.Header__search__icon{
    background-color: #FEBD69;
    color:#131921;

    /* padding: 0.4vmax; */
    height: 4vmax !important;
    /* width: 2vmax;
    height: 5vmax; */
    /* padding-bottom: auto; */
    /* padding-bottom: 5px; */
    border-top-right-radius: 0.2vmax;
    border-bottom-right-radius: 0.2vmax;
}

}

@media only screen and (min-width: 1000px) {
    /* Desktop */
    .Header{
        height: 3vmax;
        width:100%;
        position: fixed;
        display: flex;
        background-color: #131921;
        position: sticky;
        top:0;
        z-index: 150;
    }

    .Header__location{
        width: 10%;
        color: #CCCCC1;
        display: flex;
        flex-direction: row;
        /* margin-right: 5vmax; */
        margin-left: 1vmax;
        position: static;
    
    }
    .Header__location__lineOne{
        padding-top: 0.6vmax;
        font-size: 1vmax;
    }
    .Header__location__lineTwo{
        color: white;
        font-size: 1.5vmin;
        min-width: 9vmax;
    }

    .Header__search{
        display: flex;
        flex: 1;
        /* border-radius: 24px; */
        align-items: left;
        padding: 10px  4px;
        /* border: 2PX solid RED; */
        /* height: 4vmax; */
        width: 2vmax;
        /* height: 2vmax; */
        height: 2vmax !important;
    }
    
    .Header__search__left{
        color: #211913;
        background-color: #F3F3F3;
    
        text-align: center;
        
        /* padding: 0.3vmax; */
        /* padding-bottom: 5px; */
        border-top-left-radius: 0.2vmax;
        border-bottom-left-radius: 0.2vmax;
        display:flex;
        /* padding: 1.8vmax; */
        /* height: 3.5vmax; */
    }
    
    .Header__search__input{
        /* height: 12px;
        padding: 10px;
        width:70%;
        min-width: 150px; */
        width:40vmax;
        /* padding: 1.55vmax; */
        /* height: 2.95vmax; */ 
        /* height: 2vmax !important;  */
        /* line-height: 10vmax; */
    }
    
    /* .Header__search__input :active{
        border: 2px solid red;
        
    } */
    
    .Header__search__icon{
        background-color: #FEBD69;
        color:#131921;
    
        /* padding: 0.4vmax; */
        height: 2vmax !important;
        /* width: 2vmax;
        height: 5vmax; */
        /* padding-bottom: auto; */
        /* padding-bottom: 5px; */
        border-top-right-radius: 0.2vmax;
        border-bottom-right-radius: 0.2vmax;
    }
    
}