.Product{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 400px;
    min-width:100px;
    background-color: white;
    z-index:1;
    width:100%;
    margin: 10px;
    padding: 20px;
}

.Product > img {
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
}

.Product__price{
    margin-top: 5px;
}

.ProductInfo{
    height:100px;
    margin-bottom: 15px;
}

.Product__rating{
    display: flex;
    direction: row;
}

.Product > button {
    /* background: #f0c14b; */
    background: #FFD814;
    border: 1px solid;
    margin-top: 10px;
    /* border-color:  #a88734 #9c7e31; */
    border-color: #D5D9D9 ;
    cursor: pointer;
    border-radius: 3px;
}

.Product > button:hover {
    background: #ecab08;
}

.Product > button:active {
    background-color: #FFD814;
    box-shadow: 0 3px #666;
    transform: translateY(4px);
  }
